<section class="new-container">
  <h2 class="new-title-tag">New Reminder</h2>
  <form class="add-reminder-form" {{action 'saveReminder' model on="submit"}}>
    <label>
      Title:
      title: {{model.title}}
      {{input class="input input-title" value=model.title}}
    </label>
    <label>
      Date: {{model.date}}
      {{input type="date" class="input input-date" value=model.date}}
    </label>
    <label>
      Notes:
      {{textarea class="input input-notes" value=model.notes}}
    </label>
    <button class="submit-button">Submit</button>
  </form>
</section>
